p {
	font-family: "Helvetica";
}

header {
	text-align: center;
}


header h1 {
	font-size: 22px;
	margin-bottom: 10px;
	margin: 20px auto 20px auto;
}


.row1 li {
	display: inline-block;
	margin: 10%;

}




}



a {
	width: 50px;
	color: black;
}
