head, h1, h2, p,  {
	font-family: 'Raleway';
	text-align: center;
}

header {
	text-align: center;
	color: blue;
}

.flexwrapper {
	display: center;
	flex-direction: flex;
}

html {
	position: relative;
	min-height: 100%;
	font-family: 'Raleway';
	background-image: img.NeaonBrain.jpg;
	background-size: cover;
	background-position: center;
}