* {
	margin: 0;
	padding: 0;
}	

body {
	font-family: 'Montserrat', sans-serif;
}

h1, h2, h4 {
	color: #AF6482;
}
h4 span{
	font-size: 97%;
}

h5 {
	color: green;
	font-family: 'Montserrat', sans-serif;
}

.flexwrapper {
	display: flex;
	flex-direction: flex;
}
.subwrapper1, .subwrapper2 {
	padding: 40px; 
	line-height: 150%;

}
/*LEFTNAV*/

.subwrapper1 {
	width: 500px;
	background-color: #F0F0D9;
	/*padding: 10px;*/

}
.subwrapper1 img {
	width: 450px;
}

.ingredients {
	margin-top: 40px;
	margin-bottom: 40px;
	list-style-position: inside;
}

.directions {
	margin-top: 40px;
	margin-bottom: 40px;
	list-style-position: inside;
}

.parent {
	position: relative;
}

img.info {
	position: absolute;
	left: 405px;
    right: 0;
    bottom: 15px;
    width: 40px;

}

.time {
	display: flex;
	justify-content: space-between;
	width: 420px;
}

.time ul li {
	list-style-type: none;
	text-align: center;
}

.time ul h4 {
	text-transform: uppercase;

}

ul {
	margin-left: 15px;
}


.related-recipes {
	list-style-position: inside;
}

.expert-tips {
	margin-top: 40px;
	margin-bottom: 40px;
}
/*RIGHTNAV*/

.subwrapper2 {
	width: 300px;
	background-color: #EFD794;
}

